%h1 About MMU Registration System

%br

%p This was created by Bilawal Hameed, a final year Computer Science student at Manchester Metropolitan University in England. The purpose of this system is to automate class registration through MMU Students scanning their MMU Student ID with a hardware compatible with this system, and for the school and students to monitor their attendance in real-time throughout the academic year.

%p This was created as part of my final year project, and if you have any questions to ask, feel free to email me at 11026592@stu.mmu.ac.uk
