%h1 About MMU Registration System

%br

%h3 Who created this?

%p
  This was created by Bilawal Hameed for my final year Computer Science project at
  = link_to "Manchester Metropolitan University", "http://www.mmu.ac.uk", target: "_blank"
  in England.

%p
  This project was supervised by Dr Baihua Li (during September 2014 until December 2014) and Dr Andrew Schofield (January 2015 - April 2015).

%br

%h3 Why did I create this?

%p The purpose of this system is to automate class registration inside of classes at Manchester Metropolitan University. It takes advantage of hardware by allowing MMU students to scan their MMU Student ID with a card reader and have their registration automated through this system, which is highly beneficial for students, lectures, unit leaders and administrators within the university to quickly access attendance levels of students throughout the school.

%br

%h3 Have any questions?
%p
  Feel free to email me at
  = mail_to "11026592@stu.mmu.ac.uk"
