%h1 Automated Class Register System
%p Welcome to the MMU Automated Class Register System.
%p This system is used to track your attendance for all of your classes, lectures and labs whilst studying at Manchester Metropolitan University. It automates many of the aspects of collecting attendance, making it easier for you to see your attendance throughout your studies and for lecturers and unit leaders to quickly observe students inside of their units.