span.error-inline {
  background: #bd0000;
  padding: 6px 10px;
  color: #fff;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.title {
  border-top: 1px solid #575766;
  border-left: 1px solid #575766;
  border-right: 1px solid #575766;
  margin: 0;
  padding: 15px 0;
  color: #575766;
}

.title-tr td {
  border-left: 1px solid #575766;
  border-bottom: 1px solid #575766;
}

.title-tr td:last-child {
  border-right: 1px solid #575766;
}

.attendance {
  padding: 20px;
  border-radius: 10px;

  h3 {
    padding: 0;
    margin: 0;
    font-size: 19px;
    text-align: center;
  }
}

h3.percentage-text {
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
}

.percentage-warning {
  background: #bd0000;
  color: #fff;
}

.percentage-great {
  background: #53ac63;
  color: #fff;
}

.percentage-healthy {
  background: #edc912;
  color: #333;
}

.btn.btn-system {
  background: #575766;
  color: #fff;
}

.mmu-id-scanner {
  outline: none;
  border: 3px solid;
  font-size: 17px;
}

.mmu-id-scanner.scanner-right {
  border-color: green;
  background: green;
  color: white;
}

.mmu-id-scanner.scanner-wrong {
  border-color: red;
  background: red;
  color: white;
}

#error_explanation {
  background: #ff9999;
  padding: 15px 15px;
  margin: 5px 0;

  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }

  h2, ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: inside circle;
  }
}