// Header.

a.navbar-brand {
  background: image-url("mmu-logo-white.png") no-repeat center left;
  background-size: auto 75%;
  display: inline-block;
  width: 55px;
  color: transparent !important;
  font-size: 1px;
}

.navbar {
  background: #575766;
}

a.navbar-brand, .navbar, .navbar .container, .navbar ul.nav, .navbar ul.nav > li, .navbar ul.nav > li > a {
  height: 75px;
}

.navbar-collapse {
  background: #575766;
  border: 0;

  @media all and (min-width: 768px) {
    max-height: 74px;
  }
}

.navbar-default .navbar-toggle {
  margin-top: 20px;
  background: #FFF;

  .icon-bar {
    background-color: #575766;    
  }
}


@media all and (max-width: 768px) {
  .nav.navbar-left {
    display: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}

.navbar ul.nav > li {
  height: 74px;

  &:hover {
    cursor: pointer;
  }
}

.navbar ul.nav > li.admin {
  background: #24addb;
}

.navbar ul.nav > li > a {
  padding-top: 26px;
  font-size: 15px;

  &.title {
    font-size: 21px;
    color: #fff;
    padding-top: 25px;
  }

  &, &:hover, &:active, &:link, &:visited {
    color: #fff;
  }

  &[href]:not(.title):hover {
    text-decoration: underline;
    cursor: pointer;
  }
}